html, body {
    color: #14252C;
    line-height: 1.5;
    /* background-color: #fe9b58;  */
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    background: url('./bg10.jpg');
    /* background-position: center; */
    /* min-height: 100vh; */
}

.recipe-full {
    border: 2px solid black;
    background-color: #fe9b58;
}

.left-div, .right-div {
    background-color: #fff;
    /* border: 1px solid black; */
    width: 90vw;
    height: 50rem;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2);
}

.orange {
    color: #fe9b58;
    border-bottom: 7px solid #fe9b58;
}

.highlight {
    color: #fe9b58;
}

#num-of-tasks {
    color: #fe9b58;
    border-bottom: 7px solid #fe9b58;
}

/* .main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.right-div {
    /* background: rgb(255, 255, 255, 0.5); */
}

.btn-add {
    color: #14252C;
    color: #fff;
}

.btn-add:hover {
    color: #fe9b58;
}

.enlarge-icon:hover {
    color: #fe9b58;
}

.form-group {
    padding-bottom: 2%;
}

label {
    font-size: 130%;
}

.btn-link {
    font-size: 120%;
}

.enlarge-icon {
    float: right;
    padding-right: 10px;
    font-size: 150%;
}

.each-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.right-div {
    /* background-color: #ffceac; */
}

.title h2 {
    font-weight: 700;
    font-size: 2.2em;
    padding: 0.5rem 0rem 1.7rem 0.2rem;
}

.right-div {
    border-radius: 0.5%;
}

.time>.dmy {
    margin-left: 20%;
    font-weight: bold;
    cursor: pointer;
}

.time>.dmy:hover {
    border-bottom: 7px solid #fe9b58;
    padding-bottom: 0.3rem;
}

.left-div {
    border-left: none;
}

.modal-title {
    margin-left: 6%;
}

.icon-title {
    width: 3rem;
    height: 3rem;
}

.wel-msg h3 {
    font-size: 400%;
    font-weight: 700;
    line-height: 1.2;
}

.icon-div {
    background-color: #fff;
    border: 1px solid black;
    border-right: none;
    font-size: 250%;
    background: url('./bg10.jpg');
    background-size: cover;
    border-radius: 2%;
}

.icon-div #add-icon {
    color: #fff;
    cursor: pointer;
}